# Editor files
.vscode

# Dependencies
node_modules
# this is created by windows when installing go-ipfs
ipfs.cmd

# Artifacts
dist
build

# Tests and coverage
.tmp
coverage
.nyc_output

# Tools
lerna-debug.log

# Extra
packages/cli/src/knownRoles.json

## Lockfiles that are not shrinkwraps
package-lock.json
