# Editor files
.vscode

# Dependencies
node_modules
ganache

# this is created by windows when installing go-ipfs
ipfs.cmd

# Artifacts
dist
build

# Generated docs
packages/toolkit/docs

# Tests and coverage
.tmp
coverage
.nyc_output

# Tools
lerna-debug.log
typechain

# Extra
packages/cli/src/knownRoles.json

## Lockfiles that are not shrinkwraps
package-lock.json
