# Editor files
.vscode

# Dependencies
node_modules
*ipfs.cmd*
*package-lock*

# Artifacts
dist

# Tests and coverage
*.tmp*
coverage
.nyc_output

# Tools
lerna-debug.log

# Extra
packages/aragon-cli/src/knownRoles.json
