language: node_js
cache: npm
notifications:
  email: false
node_js:
  - '11'
  - '10'
  - '9'
  - '8'
before_script:
  - npm prune
install:
  - npm install
script:
  - npm run lint
  - npm run test:coverage
  - travis_wait 30 npm run test:e2e
after_success:
  - npm run report-coverage
before_deploy:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc
deploy:
  skip_cleanup: true
  provider: script
  script: 'npm run publish:nightly'
  on:
    node_js: '11'
    tags: true
